@model AnimalDetailsViewModel

@{
    ViewBag.Title = "Animal Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Animal Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Name</u></p>
            <p>Breed: <b>@Model.Breed</b></p>
            
            
         
          
            <p><i>(@(Model.IsAdopted ? "Adopted" : "Not Adopted"))</i></p>
            <div class="form-inline">
                @if (this.User.Identity?.IsAuthenticated ?? false)
                {
                    <a class="btn btn-warning" asp-controller="Animal" asp-action="Edit"
                   asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Animal" asp-action="Delete"
                       asp-route-id="@Model.Id">Delete</a>

                    @if (!Model.IsAdopted)
                    {
                            <form class="ml-2" asp-controller="Animal"
                          asp-action="Adopt" asp-route-id="@Model.Id" method="post">
                                <input class="btn btn-primary" type="submit" value="Adopt" />
                            </form>
                    }
                    else
                    {
                            <form class="ml-2" asp-controller="Animal" asp-action="Leave"
                          asp-route-id="@Model.Id" method="post">
                                <input class="btn btn-primary" type="submit" value="Leave" />
                            </form>
                    }
                }
            </div>
            <p></p>
            @if (Model.Characteristics.Any())
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Characteristics:</h5>
                        @foreach (var c in Model.Characteristics)
                        {

                            <p class="card-text"><i class="bi bi-check-circle-fill"></i> @c</p>


                        }
                    </div>
                </div>
            }
            else
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Characteristics:</h5>
                        <p> Not any characterists yet!</p>
                        @if (this.User.Identity?.IsAuthenticated ?? false)

                        {
                            <a class="btn btn-warning" asp-controller="Animal" asp-action="AddCharacteristics"
                       asp-route-id="@Model.Id">Add</a>
                        }
                    </div>
                </div>
            }
             <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><i class="bi bi-person-vcard-fill"></i> Caretaker Info</h5>
                    <p class="card-text"><i class="bi bi-person-fill"></i> Fist Name:  @Model.VolunteerInfo.FirstName</p>
                    <p class="card-text"><i class="bi bi-person-fill"></i> Last Name:  @Model.VolunteerInfo.LastName</p>
                    <p class="card-text"><i class="bi bi-envelope-heart-fill"></i> Email:  @Model.VolunteerInfo.Email</p>
                    <p class="card-text"><i class="bi bi-telephone-outbound-fill"></i> Phone Number: @Model.VolunteerInfo.PhoneNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>