@using AnimalsShelterSystem.Services.Data.Interfaces;
@using AnimalsShelterSystem.Web.Infrastructure.Extensitions;
@model IEnumerable<IndexViewModel>
@inject IVolunteerService VolunteerService

@{
    ViewData["Title"] = "Home Page";

    var animals = Model.ToList();
    bool isVolunteer = await this.VolunteerService.VolunteerExistsByUserIdAsync(this.User.GetId());
}

@if (!animals.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Welcome to the best place for renting animals!</h1>
        <p class="lead">
            There are no animals in the system currently available
            so why don't you just add one?
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                @if (isVolunteer)
                {
                    <a asp-controller="Animal" asp-action="Add" class="btn btn-primary btn-lg"
           role="button">Add Animal</a>
                }
                
            }
        </p>
    </div>
}

<div class="mb-5"></div>

@*<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < animals.Count(); i++)
        {
            var animal = animals[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" style="height:500px"
                 src="@animal.ImageUrl" alt="@animal.Name">
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <a class="btn btn-primary" asp-controller="Animal" asp-action="Details"
                       asp-route-id="@animal.Id"> @animal.Name</a>
                    </h5>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>*@

<div class="row" style="justify-content:center;height:50%">


    <div id="carousel" class="shadow-lg p-0 m-0 carousel slide col-12 col-lg-7" data-bs-ride="carousel">
        <div class="carousel-inner">
            @for (int i = 0; i < animals.Count(); i++)
            {
                <div class="carousel-item @(i == 0 ? "active" : "")">


                    <a asp-area="" asp-controller="Animal" asp-action="Details" asp-route-id="@animals[i].Id">
                        <img src="@animals[i].ImageUrl" class="d-block w-100" style="height:600px;overflow:hidden;">
                        <div class="carousel-caption d-none d-md-block ms-auto me-auto">
                            <h3 class="text-light opacity-100" style="text-shadow:2px 2px 4px #000000">@animals[i].Name</h3>
                        </div>
                    </a>


                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

   



</div>

<div class="mb-5"></div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics_btn">Show Statistics</button>
    </div>
</div>

<div class="mt-4 p-5 bg-light d-none" id="statistics_box">
    <div class="row">
        <h2 class="col-md-6 text-center" id="total_animals"></h2>
        <h2 class="col-md-6 text-center" id="total_adoptions"></h2>
    </div>
</div>

@section Scripts
    {
    <script>statistics();</script>
}